/* Global */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
    color: #CEDF52;
    font-size: 3em;
    line-height: 0;
}

h2 {
    color: #CEDF52;
    font-size: 2em;
    line-height: 1em;
}

h4 {
    color: #CEDF52;
    font-size: 1.5em;
    line-height: 0;
}

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    display: flex;
    height: 30px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #CEDF52;
    box-sizing: border-box
}

footer img {
    height: 30px;
}

@media (max-width: 1000px) {
    main {
        margin-bottom: 700px;
    }

    footer {
        position: static;
        flex-direction: column;
        height: auto;
    }
}

/* First page */
.first-page {
    display: flex;
    min-height: 100vh;
    padding: 5px;
    gap: 10px;
}

@media (max-width: 1000px) {
    .first-page, .second-page {
        flex-direction: column;
    }
}

/* First page left column */
.left-column {
    width: 33vw;
}

.left-column img {
    margin: 5px;
    max-height: 75vh;
    width: 33vw;
    min-width: 33vw;
    object-fit: cover;
}

.image-container {
    position: relative;
}

.overlay-text {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 5px;
    padding-top: 0;
    padding-bottom: 0;
    max-width: calc(100% - 60px);
}

@media (max-width: 1000px) {
    .left-column {
        font-size: smaller;
    }
}

.overlay-text h3, .overlay-text p {
    margin: 0;
    padding: 0;
}

/* First page middle column */
.middle-column {
    width: 33vw;
}

#middle-column-info-box {
    background-color: #CEDF52;
    padding: 5px;
    border-radius: 5px;
}

.middle-column img {
    width: 33vw;
    min-width: 33vw;
    object-fit: cover;
}

#middle-column-info-box-caption {
    transform: translateY(-15px);
    font-size: small;
}

/* First page right column */
.quote {
    font-size: small;
}

/* Fix columns for mobile */
@media (max-width: 1000px) {
    .left-column, .middle-column {
        width: 100vw;
    }
    
    .left-column img {
        width: calc(100vw - 20px);
        min-width: calc(100vw - 20px);
    }
    .middle-column img {
        padding: 5px;
        width: calc(100vw - 20px);
        min-width: calc(100vw - 20px);
    }
}

/* Second page */
.second-page {
    height: 100vh;
    padding: 5px;
    gap: 10px;
}

.second-page-container {
    display: flex;
    flex-direction: column;
}

.second-page-container h3 {
    font-size: x-large;
    line-height: 2em;
    background-color: #CEDF52;
    margin: 0;
}

.second-page-content-container {
    display: flex;
    gap: 15px;
}

.second-page-content-container img {
    width: 30%;
    object-fit: cover;
}

@media (max-width: 1000px) {
    .second-page-content-container img {
        display: none;
    }
}

/* Second page content */
.second-page-content {
    display: flex;
    flex-direction: column;
    width: max-content;
    box-sizing: border-box;
    padding: 10px;
}

.things-you-can-do {
    transform: translateY(15px);
    background-color: #CEDF52;
    width: 40%;
    height: max-content;
    padding: 10px;
}

.things-you-can-do h2 {
    font-size: xx-large;
    line-height: 0.8em;
    color: #fff;
    margin: 0;
}

.things-you-can-do h5 {
    font-size: large;
    line-height: 1em;
    color: #fff;
    margin-top: 1em;
    margin-bottom: 0;
}

.things-you-can-do p {
    margin: 0;
}

.where-to-get-information {
    margin-top: auto;
    color: #000;
    transform: translateY(-40px);
}

@media (max-width: 1000px) {
    .things-you-can-do {
        width: 90%;
    }
}